{# PAGE VARIABLES #}{% set p = page_variables %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <title>{{p.title or 'Untitled page'}} ∙ Sitename</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div id="page" class="page-wrapper">
      <!-- Site header -->
        <header id="site-header" class="header">
            <nav class="container navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a class="navbar__link" href="/">Home</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="/lesson-1.html">Lesson-1</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="/nodemon.html">Nodemon</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="/about.html">About</a></li>
                </ul>
            </nav>
        </header>
      <!-- Main content -->
        <main id="main-content" class="main">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
      <!-- Site footer -->
        <footer id="site-footer" class="footer">
            <div class="container">
                <div class="footer__copyrights">&copy; 2019, floatrx</div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="js/scripts.min.js"></script>
</body>

</html>