{# Extend basic template #}
{% extends "template.html" %}

{# Define page variables #}
{% set page_variables = {
    "title"       : "About"
}
%}

{# Define content block #}
{% block content %}

        <h1>About</h1>
        <p>
          Gulp with sweets. <br>
          Simple automated frontend-template <br>
          for debug simple web-sites. <br>
        </p>
        <p>
          Markup (Jinja2) + CSS (SCSS) + JS (ES6→Babel→ES5)
        </p>
        <p>
          Use & Enjoy!
        </p>



{% endblock %}
