{# Extend basic template #}
{% extends "template.html" %}

{# Define page variables #}
{% set page_variables = {
    "title"       : "Homepage"
}
%}

{# Define content block #}
{% block content %}

        <h1>Let's start</h1>
        <ol>
          <li><code>$ npm i</code></li>
          <li><code>$ gulp</code></li>
        </ol>

        <h2>Stack supported</h2>
        <ol>
          <li><code>HTML(JINJA)</code></li>
          <li><code>CSS(SCSS)</code></li>
          <li><code>JS(ES6)</code></li>
          <li>Try <code><a href="/nodemon.html">Nodemon</a></code></li>
        </ol>

{% endblock %}