{# Extend basic template #}
{% extends "template.html" %}

{# Define page variables #}
{% set page_variables = {
    "title"       : "L1"
}
%}

{# Define content block #}
{% block content %}

        <h1>Solution</h1>
        <code>alert(eval(prompt('Enter any math expression')));</code>
        <p>
          <button id="lesson1__test">Check It</button>
        </p>

{% endblock %}