{# Extend basic template #}
{% extends "template.html" %}

{# Define page variables #}
{% set page_variables = {
    "title"       : "Nodemon"
}
%}

{# Define content block #}
{% block content %}

        <h1>Try nodemon</h1>
        <ol>
          <li><code>$ npm install nodemon --global</code></li>
          <li><code>$ nodemon scripts.js</code></li>
          <li>Change something in <code>scripts.js</code></li>
          <li>Learn more at: <a href="https://www.npmjs.com/package/nodemon"><code>npm nodemon</code></a></li>
          <li>Enjoy!</li>
        </ol>

{% endblock %}