// Global styles
body {
    margin: 0;
    padding: 0;
    background: $body-background;
    color: $body-color;
    font-family: sans-serif;
    font-size: 20px;
}

*{
    outline: none;
}

// Elements
h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
}

code {
    background: black;
    border-radius: 4px;
    color: $code-color;
    display: inline-block;
    margin: .1rem;
    padding: .2rem;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover{
        opacity: .6;
    }
}

ul, ol{
    padding-left: 1.5rem;
}

button{
    display: inline-block;
    padding: .4rem 1.2rem;
    background: lighten($body-background, 5%);
    color: $body-color;
    border: none;
    font-size: 1.2rem;
    border-radius: 35px;
    box-shadow: 0 2px 8px rgba(black, .4);
    &:active{
        box-shadow: 0 0 2px rgba(black, .4);
        opacity: .7;
    }
}

// Container
.container {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}