// Page layout
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

header.header {
    background: darken($body-background, 2%);

    .navbar {
        width: 100%;

        &__list {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            list-style: none;
        }

        &__item {
            padding: .5rem 0;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &__link {
            display: block;
            text-decoration: none;
            padding: .2rem .7rem;
            color: $body-color;
            background: lighten($body-background, 5%);
            border-radius: 4px;
            transition: all .2s ease;
        }
    }
}

main.main {
    flex: 1 0 auto;
}

.footer {
    padding: .5rem $spacer-x;
    background: darken($body-background, 2%);

    &__copyrights {
        text-align: center;
        font-size: .7rem;
        opacity: .4;
    }
}